<%- include('partials/header') %>
<%- include('partials/main_nav') %>
<style>
    body{
        text-align: center;
    }
</style>
<br>
<h2>Select a date to see which mechanics are availabe</h2><br><br>

<label for="Date">Date  </label>
<input type="date" id="Date" name="Date" style="background-color: #525252;">


<%- include('partials/bottom_nav') %>
<%- include('partials/footer') %>