<%- include('partials/header') %>
<%- include('partials/main_nav') %>


    
	<title>Ratings</title> 
    <style>
		table {
			width:100%;
			height:100%;
			border:2px solid #000000;
			border-collapse:collapse;
			padding:5px;
            margin-left: auto;
            margin-right: auto;
		}
		table th {
			border:2px solid #000000;
			padding:5px;
			background: #000000;
			color: #ffffff;
		}
		table td {
			border:2px solid #000000;
			text-align:center;
			padding:5px;
			background: #141414;
			color: #ffffff;
		}
	</style>
</head>
<h1 style="text-align: center;">Ratings</h1>
<body>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Rating</th>
				<th>Years of Experience</th>
				<th>Specialty</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>&nbsp;Hello</td>
				<td>&nbsp;4.5/5</td>
				<td>&nbsp;4</td>
				<td>&nbsp;Engine</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</tbody>
	</table>

<%- include('partials/bottom_nav') %>
<%- include('partials/footer') %>
</html>

